div{
    text-align: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 250px;
    max-height: 150px;
    margin: auto;
    
} 
#btnsearch{
    background-color: rgba(240, 248, 255, 0); 
    width: 200px; 
    margin-left: 30px;
} 
#btnsearch:hover{
    background-color: rgba(240, 248, 255, 0.479);;
}